<li>
  <h1>{{entry.title}}</h1>
<br>
  <h2>Published By: {{entry.author}}</h2>
<hr>
  <img src="{{entry.image}}" width="700px">
  <br>
  <div class="content">
    {{entry.content}}
  </div>
  <br>
  {{update-entry entry=entry update="update"}}
  <button class="btn btn-danger" float="right" {{action 'delete' entry}}>Delete</button>
  <hr>
</li>
